*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: rgb(141, 122, 155);
 
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    border: solid rgb(26, 24, 24);
    border-radius: 12px;
    background-color: darkgray;
}

.output{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    padding: 10px;
    width: 100%;
    height: 25px;
    border:solid black;
    border-radius: 5px;
}

.buttons{
    display: grid;
    gap: 10px;
    
}

button{
    margin: 0px 8px 0px 0px;
    padding: 8px;
    border-radius: 12px;
    font-weight: bold;
}

button.oper:hover{
    background-color: white;
}
button.act:hover{
    background-color: maroon;
}

button:hover{
    background-color: blue;
}

button.equal:hover{
    background-color: seagreen;
}

.equal{
    width: 30%;
    background-color: slategrey;
}


.act {
    background-color: darkblue;
    color: darkorange;
}

.oper{
    background-color: darkslateblue;
    color: orangered;
}